{%extends "check/base.html"%}  
  
{%block content%}  
<div class="container mt-5">  
    <div class="row">  
        <div class="col-md-12">  
            <h2>积分历史</h2>
            <a class="btn btn-danger" href="{% url 'delete:delete_histories' %}">删除所有历史记录</a>
            <ul class="list-group">
                {% for entry in entries %}  
                <li class="list-group-item">  
                    <p>详细内容：{{ entry.text|linebreaks }}</p>  
                    <p>对应分数：{{entry.score}}</p>
                    <small class="text-muted">时间：{{ entry.date_added|date:'Y-m-d H:i' }}</small>
                </li> 
                {% empty %}
                <li class="list-group-item">
                    还没有积分历史
                </li>
                {% endfor %} 
            </ul>  
        </div>  
    </div>  
</div>  
{%endblock content%}