{%extends "check/base.html"%}  
  
{%block content%}  
<div class="container mt-5">  
    <div class="row">  
        <div class="col-md-12">  
            <h3>积分项请</h3>
            <p>总分：{{score}}</p>
  
            <ul class="list-group">
                {% for entry in entries %}  
                <li class="list-group-item">  
                    <p>详细内容：{{ entry.text|linebreaks }}</p>  
                    <p>对应分数：{{entry.score}}</p>
                    <small class="text-muted">时间：{{ entry.date_added|date:'Y-m-d H:i' }}</small>
                    <a class="btn btn-success" href="{%url 'complain:complain_detail' entry.id%}">申诉</a>
                </li>
                {% empty %}
                <li class="list-group-item">
                    还没有积分项目
                </li>
                {% endfor %} 
            </ul>  
        </div>  
    </div>  
</div>  
{%endblock content%}