{% extends "check/base.html" %}  
  
{% block content %}  
<div class="container mt-5">  
    <div class="row justify-content-center">  
        <div class="col-md-6">  
            <div class="alert alert-danger" role="alert">  
                <h4 class="alert-heading">诶呀，出错了(500)</h4>  
                <p>服务器遇到了一个内部错误，无法完成您的请求。</p>  
                <hr>  
                <p class="mb-0">我们很抱歉给您带来了不便。请稍后再试，或者联系我们。</p>  
            </div>  
        </div>  
    </div>  
</div>  
{% endblock content %}