{%extends "op/base.html"%}  
  
{%block content%}  
<div class="container mt-5">  
    <div class="row justify-content-center">  
        <div class="col-md-6">   
            <p class="text-center">您确定要删除全部申诉历史吗？</p>  
  
            <form action="{% url 'delete:delete_complaint_histories'%}" method="POST">  
                {% csrf_token %}  
                <div class="text-center mt-4">  
                    <button type="submit" class="btn btn-danger">是</button>  
                    <a href="{% url 'complaint:check_complaint_histories' %}" class="btn btn-secondary">没有，我还需要想一想</a>  
                </div>  
            </form>  
        </div>  
    </div>  
</div>  
{%endblock content%}