{%extends "op/base.html"%}  
  
{%block content%}  
<div class="container mt-5">  
    <div class="row">  
        <div class="col-md-12">  
            <h2>已审核</h2>
            <a class="btn btn-danger" href="{% url 'delete:delete_complaint_histories' %}">删除已申诉的记录</a>
    
            <ul class="list-group">
                {% for entry in entries %}  
                <li class="list-group-item">  
                    <p>详细内容：{{ entry.text|linebreaks }}</p>  
                    <p>对应分数：{{entry.score}}</p>
                    <p>申诉原因:{{entry.reason}}</p>
                    <p>处理结果：{{entry.state}}</p>
                    <small class="text-muted">用户：{{entry.owner.last_name}}{{entry.owner.first_name}}</small>
                </li>
                {% empty %}
                <li class="list-group-item">
                    暂无已审核的条目
                </li>
                {% endfor %} 
            </ul>  
        </div>  
    </div>  
</div>  
{%endblock content%}